VITE_SUPABASE_URL=https://ipdiyenjqmpgonpjrdlq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwZGl5ZW5qcW1wZ29ucGpyZGxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxMzkyNjMsImV4cCI6MjA5ODcxNTI2M30.jdDXVJf4mJj8X40k7ieFXSLPhBHUXIO7d2q7Q60uMTU
VITE_API_URL=https://arunportfolio-03k6.onrender.com
